/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$first-footer-bg: rgb(229, 232, 233);
$first-footer-accent: rgb(61, 61, 61);
$second-footer-bg: rgb(217, 220, 222);
$second-footer-accent: rgb(61, 61, 61);
